@use "_section_proyectos";
@use "footer";
@use "_reproductor";
@use "nav";
@use "_section_stacks";
@use '_section_about_me';

section{
    background-color:transparent;
    
    img{
        width: 64px;
        height: 64px;
    }
    
}