@use "../abstracts/mixins";
@use "../abstracts/variables";

html{
    scroll-behavior: smooth;
}
html * {
    font-family: variables.$font-poppins;
    margin: 0;
    padding: 0;
    color: white;
    text-rendering: optimizeLegibility;
}
 
body {
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: variables.$color-fondo;
    a{
        color: white;
        text-decoration: none;
        
    }
    h2{
        padding: 1rem;
        text-align: center;
        font-family: variables.$font-code;
        text-rendering: optimizeLegibility;
    }
    h3.second_titles{
        font-size: 2rem;
        font-weight: bold;
        color: variables.$color-hover-nav;
    }
    .twisterInDown{
        animation-duration: 2s;
    }
    section{
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        margin-bottom: 2%;
    }
    .button{
        display: inline-block;
            font-size: 24px;
            color: greenyellow;
            border: 2px solid greenyellow;
            padding: 1rem;
            border-radius: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: transparent;
            transition: transform 0.5s ease;
            &:hover{
                background-color: lightgray;
                color: black;
                font-weight: bold;
                transform: scale(1.1);
            }
    }
    .social_net{
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        .x{
            @include mixins.a_logos("./../public/img/gorjeo.png");
        }
        .insta{
            @include mixins.a_logos("./../public/img/instagram.png");
        }
        .git{
            @include mixins.a_logos("./../public/img/github.png");
        }
        .linkedin{
            @include mixins.a_logos("./../public/img/linkedin.png");
        }
    }

} 
